nodered/data/flows.json
[
    {
        "id": "2f58fda264849b1c",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0b2e9d582d37de1",
        "type": "mongodb4-client",
        "name": "ConecttionMongoDB",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "27017",
        "dbName": "iot-mongo",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "183ab79de93076de",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "84cf269ca5a203f6",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "iot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "c7ad8d6dae49d534",
        "type": "mqtt in",
        "z": "2f58fda264849b1c",
        "name": "Cadastro Device",
        "topic": "device/+/info",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "183ab79de93076de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "c2130da44fff2de7"
            ]
        ]
    },
    {
        "id": "232a6c85c66ccdb4",
        "type": "mongodb4",
        "z": "2f58fda264849b1c",
        "clientNode": "a0b2e9d582d37de1",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "devices",
        "x": 800,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c2130da44fff2de7",
        "type": "uuid",
        "z": "2f58fda264849b1c",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "4000212370bbf0f1"
            ]
        ]
    },
    {
        "id": "4000212370bbf0f1",
        "type": "function",
        "z": "2f58fda264849b1c",
        "name": "ProcessInfoDevice",
        "func": "const deviceId = msg.topic.split(\"/\")[1];\n\nconst device = {\n    $set: {\n        model: msg.payload.model || null,\n        location: msg.payload.location || null,\n        light: msg.payload.light,\n        humidity: msg.payload.humidity,\n        update_at: new Date(),\n        created_at: new Date()\n    },\n    $setOnInsert: { \n        _id: msg.payload._id,\n        created_at:new Date ()\n    }\n}\n\nmsg.payload = [{ device_id: deviceId }, device, { upsert: true }];\n\nmsg.collection = \"devices\";\nmsg.operation = \"updateOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "232a6c85c66ccdb4"
            ]
        ]
    },
    {
        "id": "8974d458eabb543d",
        "type": "mqtt in",
        "z": "2f58fda264849b1c",
        "name": "",
        "topic": "device/+/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "183ab79de93076de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "403f79affa0a8f0f"
            ]
        ]
    },
    {
        "id": "d18c15afe8074504",
        "type": "function",
        "z": "2f58fda264849b1c",
        "name": "function 1",
        "func": "const deviceId = msg.topic.split(\"/\")[1];\nconst data = msg.payload;\n\nconst readings = {\n    query: `INSERT INTO readings (id, Device_id, humidity, unit, created_at) VALUES ($1, $2, $3, $4, $5)`,\n    params: [\n        data._id,\n        data.device_id,\n        data.humidity,\n        data.unit,\n        data.created_at = new Date()\n    ]\n}\n\nconst irrigationAlerts = null;\nif (data.humidity < 40) {\n    irrigationAlerts = {\n        collection: \"irrigation_alerts\",\n        operation: \"insertOne\",\n        payload: {\n            _id: data._id,\n            device_id: deviceId,\n            alert: \"HUMIDITY_LESS_THEN_40\",\n            created_at: new Date()\n        }\n    }\n}\n\nlet command = {\n    topic: `device/${deviceId}/cmd/pump`,\n    qos: 1,\n    retain: false,\n    payload: {\n        deviceId: deviceId,\n        light: null\n    }\n}\nconst currentsHours = new Date().getHours();\nif(data.humidity < 40 && ((currentsHours >= 5 && currentsHours < 9) || (currentsHours >=17 && currentsHours < 21))){\n    command.payload.light = \"on\";\n} else {\n    command.payload.light = \"off\";\n}\n\nreturn [readings, irrigationAlerts, command ];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "fbb2470f969c97b5"
            ],
            [
                "208444156fe9f960"
            ],
            [
                "1a486e21920fe1bd"
            ]
        ]
    },
    {
        "id": "403f79affa0a8f0f",
        "type": "uuid",
        "z": "2f58fda264849b1c",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "d18c15afe8074504"
            ]
        ]
    },
    {
        "id": "fbb2470f969c97b5",
        "type": "postgresql",
        "z": "2f58fda264849b1c",
        "name": "Readings",
        "query": "SELECT * FROM ;",
        "postgreSQLConfig": "84cf269ca5a203f6",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 800,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "208444156fe9f960",
        "type": "mongodb4",
        "z": "2f58fda264849b1c",
        "clientNode": "a0b2e9d582d37de1",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "devices",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1a486e21920fe1bd",
        "type": "mqtt out",
        "z": "2f58fda264849b1c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "183ab79de93076de",
        "x": 790,
        "y": 340,
        "wires": []
    }
]